.container
  %h1.mt-4.text-primary Dev Score Card
  %form
    %h2 Sign in to your account
    .row
      .col-md-6
        .form-group
          %label{for: "first"} First Name
          %input#first.form-control{placeholder: "Your first name", type: "text"}/
      .col-md-6
        .form-group
          %label{for: "last"} Last Name
          %input#last.form-control{placeholder: "Your last name", type: "text"}/
  .nav
    %ul
      %li Item one
      %li Item one
      %li Item one
      %li Item one

